<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
	<audio src="http://ringtones.mob.org/ringtone/qJWaduIQzX4Zcrkh8GsYoQ/1458531299/9905836acd1a16e8e8ef656b49e19363/boots_randolph-yakety_saxthe_benny_hill_show_theme.mp3" autoplay>
  Your browser does not support the <code>audio</code> element.
</audio>
    <div class="main">
      <div class="container">
        <h1 id="swag">Pwnt.</h1>
        <p>You just got pwnt trololololololol we haz joor cookiez</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <h2>You</h2>
          <p>You as in the user with cookies: {{ cookies }}</p>
        </div>
        <div class="col">
          <h2>Got</h2>
          <p>By virtue of your company's nonexistent security</p>
        </div>
        <div class="col">
          <h2>Owned</h2>
          <p>As in you just got hacked. Yep.</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h2>Not. Even. Fucking. Joking.</h2>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>Yeah really</h2>
        <p>We are replacing your personal profile with dank memes right this second.</p>
        <a class="btn" href="#">Such Dank</a>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>Much excite.</h2>
        <a class="btn" href="#">Wow.</a>
      </div>
    </div>
  </body>
</html>